<div class="blog-header">
  <img src="https://scribbles.page/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaFZ4IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f5aadc61f2218b7a14a22770d746dac7a0162840/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDRG9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwWldsbE9ncHpZWFpsY25zSE9ncHpkSEpwY0ZRNkRIRjFZV3hwZEhscGFRPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--ba4a7df9bd27436562c5e3cb15731bcce626e772/AvatarLightTwo.png">
  <a href="/">
    <span class="p-name blog-title upper">{{ .Site.Title }}</span>
    <span class="blog-subtitle upper">{{ .Site.Params.blogSubtitle }}</span>
  </a>
</div>